    <div class="container">
            
        <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row"> 
                    <div id= "dicks" class="col-md-3 clearfix d-none d-md-block">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">{{i1.name}}</h4>
                            <p class="card-text">$0.1</p>
                        </div>
                    </div>

                    <div class="col-md-3 clearfix d-none d-md-block">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">banana</h4>
                            <p class="card-text">$0.1</p>
                        </div>
                    </div>

                    <div class="col-md-3 clearfix d-none d-md-block">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">banana</h4>
                            <p class="card-text">$0.1</p>
                        </div>
                    </div>

                    <div class="col-md-3 clearfix d-none d-md-block">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">banana</h4>
                            <p class="card-text">$0.1</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="carousel-item">
                <p>hi2</p>
            </div>
            <div class="carousel-item">
                <p>hi3</p>
            </div>
            </div>
            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>