<!DOCTYPE html>
<html>

    <title> {{Title}}</title>

    <head>
    {%include 'libraries.html'%}

    <style>
    body {
        background-color: #faf3eb !important;
    }
    </style>
    </head>

    <body> 

    {% include 'heading.html' %}
    
    <h1 style  = "text-align: center; font-family: Arial, sans-serif,"> {{Category}}</h1>
    <h1>{{list.0.name}}</h1>
    {% include 'catalog.html' %}

    {% include 'catalog.html' %}

    {% include 'catalog.html' %}

    {% include 'catalog.html' %}
    </body>
</html>