<!DOCTYPE html>
<html>
<head>
<style>
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 3%;
    padding: 2%;
    padding-bottom: 1.5%; 
}
.grid-container > div {
    background-color: #616161;
    text-align: center;
    padding: 5%; 
    font-size: 120%;
    font-weight: bold;
    color: white;
}
h1 {
    text-align: center;
    padding-top: 1.25%;
    font-weight: bold;       
}
</style>
</head>

<body>
    <div class="container-fluid bg-primary text-white" style = "height: 6vw">
        <h1 style="top-align: 50%;">Amazoff</h1>
    </div>
    <div class="grid-container">
        <div class="grid-item">Daniel</div>
        <div class="grid-item">Is</div>
        <div class="grid-item">Hella</div>
        <div class="grid-item">Gay</div>
        <div class="grid-item">Fr</div>
    </div>
<body>

</html>