<!DOCTYPE html>
<html>

    <title>Amazoff Home Page</title>

    <head>

        {%include 'libraries.html'%}

        <style>
            #carousel1 {
                margin-left: 50px;
                margin-right: 50px;
            }
            #carousel2 {
                margin-left: 50px;
                margin-right: 50px;
            }
            #carousel3 {
                margin-left: 50px;
                margin-right: 50px;
            }

            .carousel-control-prev {
                margin-left: -100px;
                filter: invert(1);
            }

            .carousel-control-next {
                margin-right: -100px;
                filter: invert(1);
            }
        </style> 
    
        <script>
        
                    if (navigator.userAgent.search("MSIE") >= 0) {
                        console.log("MSIE")
                    }
                    else if (navigator.userAgent.search("Chrome") >= 0) {
                        console.log("Chrome")
                    }
                    else if (navigator.userAgent.search("Firefox") >= 0) {
                        console.log("Firefox")
                    }
                    else if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
                        console.log("Safari")
                    }
                    else if (navigator.userAgent.search("Opera") >= 0) {
                        console.log("Opera")
                    }
                    else if (navigator.userAgent.search("NET") >= 0) {
                        console.log("NET")
                    }
                    else if (navigator.userAgent.search("Edge") >= 0) {
                        console.log("Edge")
                    }
                    $.ajax({
                        dataType: 'json',
                        url: 'http://api.hostip.info/get_json.php',
                        success: function(data) {
                            var $ip = data['ip'],
                                $city = data['city'],
                                $countryCode = data['country_code'],
                                $countryName = data['country_name'];
                            console.log($ip)
                            //Only works when adblock is off, can check in inspect element
                        }
                        
                    });
        </script>

        <script>
            $(document).ready(function(){
                if(sessionStorage.startTime){}
                else {
                var date = new Date();
                var time = date.getTime();
                sessionStorage.startTime = time;
                document.getElementById("result").innerHTML = sessionStorage.startTime + " ms current time";
            }
            })
            
        </script>

    </head>

    <body>
    {% include 'heading.html' %}
        <a href = '/item/1'>AAA</a>
        <div id="result"></div>
        {% include 'carousel.html' with c="carousel1" idn1="im1" idn2="im2" idn3="im3" idn4="im4" idn5="im5" idn6="im6" idn7="im7" idn8="im8" idn9="im9" idn10="im10" idn11="im11" idn12="im12" i1=item1 i2=item2 i3=item3 i4=item4 i5=item5 i6=item6 i7=item7 i8=item8 i9=item9 i10=item10 i11=item11 i12=item12%}
        {% include 'carousel.html' with c="carousel2" idn1="im13" idn2="im14" idn3="im15" idn4="im16" idn5="im17" idn6="im18" idn7="im19" idn8="im20" idn9="im21" idn10="im22" idn11="im23" idn12="im24" i1=item13 i2=item14 i3=item15 i4=item16 i5=item17 i6=item18 i7=item19 i8=item20 i9=item21 i10=item22 i11=item23 i12=item24%}
        {% include 'carousel.html' with c="carousel3" idn1="im25" idn2="im26" idn3="im27" idn4="im28" idn5="im29" idn6="im30" idn7="im31" idn8="im32" idn9="im33" idn10="im34" idn11="im35" idn12="im36" i1=item25 i2=item26 i3=item27 i4=item28 i5=item29 i6=item30 i7=item31 i8=item32 i9=item33 i10=item34 i11=item35 i12=item36%}

    </body>

</html>

