<!DOCTYPE html>
<html>

    <title>Amazoff Home Page</title>

    <head>

        {%include 'libraries.html'%}

        <style>
            #carousel1 {
                margin-left: 50px;
                margin-right: 50px;
            }
            #carousel2 {
                margin-left: 50px;
                margin-right: 50px;
            }
            #carousel3 {
                margin-left: 50px;
                margin-right: 50px;
            }

            .carousel-control-prev {
                margin-left: -100px;
                filter: invert(1);
            }

            .carousel-control-next {
                margin-right: -100px;
                filter: invert(1);
            }
        </style> 
    
        <script>
            $(document).ready(function(){
                var timer;

                $("#im1").hover(
                    function(){
                        sessionStorage.hovertime = 0;
                        document.getElementById("result").innerHTML = sessionStorage.hovertime + " ms";
                    
                        timer = setInterval(function(){
                        if (sessionStorage.hovertime) {
                            sessionStorage.hovertime = Number(sessionStorage.hovertime) + .2;
                        } else {
                            sessionStorage.hovertime = .2;
                        }
                        document.getElementById("result").innerHTML = sessionStorage.hovertime + " ms";
                        }, 200);
                    }, 

                    function(){clearInterval(timer)}
                );
            });
                    if (navigator.userAgent.search("MSIE") >= 0) {
                        console.log("MSIE")
                    }
                    else if (navigator.userAgent.search("Chrome") >= 0) {
                        console.log("Chrome")
                    }
                    else if (navigator.userAgent.search("Firefox") >= 0) {
                        console.log("Firefox")
                    }
                    else if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
                        console.log("Safari")
                    }
                    else if (navigator.userAgent.search("Opera") >= 0) {
                        console.log("Opera")
                    }
                    else if (navigator.userAgent.search("NET") >= 0) {
                        console.log("NET")
                    }
                    else if (navigator.userAgent.search("Edge") >= 0) {
                        console.log("Edge")
                    }
                    $.ajax({
                        dataType: 'json',
                        url: 'http://api.hostip.info/get_json.php',
                        success: function(data) {
                            var $ip = data['ip'],
                                $city = data['city'],
                                $countryCode = data['country_code'],
                                $countryName = data['country_name'];
                            console.log($ip)
                            //Only works when adblock is off, can check in inspect element
                        }
                        
                    });
        </script>

    </head>

    <body>
    {% include 'heading.html' %}

        <div id="result"></div>
        {% include 'carousel.html' with c="carousel1" idn1="im1" i1=item1 i2=item2 i3=item3 i4=item4 i5=item5 i6=item6 i7=item7 i8=item8 i9=item9 i10=item10 i11=item11 i12=item12%}
        {% include 'carousel.html' with c="carousel2" i1=item13 i2=item14 i3=item15 i4=item16 i5=item17 i6=item18 i7=item19 i8=item20 i9=item21 i10=item22 i11=item23 i12=item24%}
        {% include 'carousel.html' with c="carousel3" i1=item25 i2=item26 i3=item27 i4=item28 i5=item29 i6=item30 i7=item31 i8=item32 i9=item33 i10=item34 i11=item35 i12=item36%}

    </body>

</html>

